<div id='landing_page'><div class='row'>
         <div id="landing_menu">
        <div class="col-xs-4">
         <a ui-sref='landing'>Home</a> <a ui-sref='dashboard'>Dashboard</a> </div></div> <div class="row">&nbsp;</div>  <div class="row">&nbsp;</div> </div>
<div class='row'>
<div id="landing_login">
    <div class="col-xs-3">
        Username:<input type="text" ng-model="model.username">
        Password:<input type="password" ng-model="model.password">
        <input type="button" value="Login" ng-click="on_login();"/>
    </div>
</div>
        </div>
<div class='row'></div>
